DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
DATABASE_URL=sqlite:///db.sqlite3
APP_URL=http://127.0.0.1:8000
MEDIA_ROOT=media
MEDIA_URL=/media/

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PAYMENT_LINK=https://buy.stripe.com/7sYeVc5SBgsw7XNcTc6Na01
