DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
DATABASE_URL=sqlite:///db.sqlite3
APP_URL=http://127.0.0.1:8000
MEDIA_ROOT=media
MEDIA_URL=/media/

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

DEMO_STUDENT_NAME=Alumno Demo
DEMO_STUDENT_EMAIL=alumno.demo@xamoxacademy.local
DEMO_STUDENT_PASSWORD=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PAYMENT_LINK_ID=
STRIPE_PAYMENT_LINK=https://buy.stripe.com/7sYeVc5SBgsw7XNcTc6Na01

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=1
EMAIL_USE_SSL=0
DEFAULT_FROM_EMAIL=Xamox Academy <info@ktysdavids.com>
SUPPORT_EMAIL=info@ktysdavids.com
